.todo-item{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(43, 81, 250);
    margin: 5px 0;
    align-items: center;
    border-radius: 10px;
    .task-text{
        margin: 0;
        padding-left: 30px;
        color: #000;
        &.task_is_done{
            text-decoration: line-through;
        };
        &.task_is_important{
            color: yellow;
            transform: scale(1.5);
            background: linear-gradient(45deg, #000, #fff);
            
        }
    }
    .task-item{
        i{  
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            color: red;
            margin: 0 auto;
        }
    }
    #important{
        color: green;
    }  
}  
    
    
    